<h1>Search Results</h1>

<h3>Volunteers:</h3>
<% if @volunteers %>

  <ul>
  <% @volunteers.each do |volunteer| %>
    <li><a href="/volunteers/<%= volunteer.id %>"><%= volunteer.name %></a></li>
  <% end %>
  </ul>
<% else %>
  <p>There are currently no volunteers to by this name.</p>
<% end %>

<p><a href="/projects">Return to homepage</a></p>